@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Somewhere in<br />
    Columbus, OH 43232<br />
    <abbr title="google hangouts">google hangouts:</abbr>
    brentonbates
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:brentonbates@gmail.com">Support@example.com</a>
</address>